# Environments
.env
.venv/
env/
venv/
ENV/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.pycache_local/

# Models / artifacts
models/*.pkl

# AI Vector Databases
data/faiss_index/
vector_db/

# Streamlit
.streamlit/

# OS Files
.DS_Store
models/*.pkl
vector_db/
.streamlit/
.pytest_cache/
.pycache_local/
